.zoom-image {
  margin: 40px auto;
  position: relative;
  width: max-content;

  .panzoom-parent {
    height: 400px;
    overflow: hidden;
    user-select: none;
    touch-action: none;
    width: max-content;

    .map-svg {
      max-width: 100%;
      max-height: 100%;
    }

    .hotspots {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      pointer-events: auto;
      border-radius: 0 0 45px 45px;

      &.bud1-plan {
        border-radius: 33px 0 0 33px;
      }

      .room-area {
        cursor: pointer;
        fill: transparent;


        &:hover {
          fill: rgba(255, 0, 0, 0.3);
        }
      }
    }
  }

  &-buttons {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    transform: translateX(-50%);
    margin-left: 50%;
    padding: 10px 0;
    width: max-content;

    .zoom-btn {
      background: none;
      outline: none;
      border: none;
      padding: 3px;
      cursor: pointer;

      &:hover {
        background: #f7f7f7;
      }

      &[disabled] {
        opacity: 0.2;
      }
    }

    .reset-btn {
      display: flex;
      align-items: center;
      gap: 7px;

      & [disabled] {
        opacity: 0.2;
      }
    }
  }

}

#modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
  z-index: 999;

  .modal-container {
    position: relative;
    background: #fff;
    padding: 30px 20px 20px;
    width: 500px;
    min-width: max-content;
    height: 450px;
    animation: zoomIn 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
    transform: scale(1);
    text-align: center;

    #modal-svg {
      width: max-content;
      margin-top: 20px;
    }

    #close {
      position: absolute;
      top: 12px;
      font-size: 24px;
      right: 10px;
      cursor: pointer;
      z-index: 10;
      height: 20px;
      width: 20px;
      color: #000;
    }
  }
}

@keyframes fadeInBg {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(0.6);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@media (max-width: 560px) {
  .modal-container {
    zoom: 0.9;
  }
}

@media (max-width: 440px) {
  .zoom-image {
    transform: scale(.8);
  }
  .modal-container {
    zoom: 0.75;
  }
}